@media (min-width: 768px) {
  .hide-on-dropdown {
    display: block;
  }
  .show-on-dropdown {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-on-dropdown {
    display: none;
  }
  .show-on-dropdown {
    display: block;
  }
}
